<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/data/repository
        http://www.springframework.org/schema/data/repository/spring-repository-1.5.xsd">	

	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<value>classpath:properties/jdbc.properties</value>			
		</property>
	</bean>

	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<!-- destroy-method="close" -->
		<property name="driverClassName" value="${jdbc.driverClassName}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
		<!-- <property name="connectionCachingEnabled" value="true" /> -->
	</bean>
	
	
	<!-- <bean id="dataSourceTest"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		destroy-method="close"
		<property name="driverClassName" value="${jdbc.driverClassName}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
		<property name="connectionCachingEnabled" value="true" />
	</bean> -->

	<!-- <context:property-placeholder location="classpath:jdbc.properties"/> -->
	
	<!-- declare beans -->
	<!-- <bean id="grupa1010Dao"
		class="businessentitydatamediationmodule.serviceexport.businessentitydatainterface.dao.g1010.Grupa_1010_DAOImpl" />
	<bean id="grupa1010Service"
		class="businessentitydatamediationmodule.serviceexport.businessentitydatainterface.jdbc.g1010.Grupa_1010ServiceImpl" />

	<bean id="entitySOAPDao"
		class="businessentitydatamediationmodule.serviceexport.businessentitydatainterface.dao.EntitySOAPeDAOeImpl" />
	<bean id="entitySOAPService"
		class="businessentitydatamediationmodule.serviceexport.businessentitydatainterface.jdbc.EntitySOAPeDAOServiceImpl" /> -->

</beans>