<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<!-- 
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">
			org.hibernate.dialect.MySQLDialect
		</property>
		<property name="hibernate.connection.driver_class">
			com.mysql.jdbc.Driver
		</property>

		Assume test is the database name
		<property name="hibernate.connection.url">
			jdbc:mysql://localhost/test
		</property>
		<property name="hibernate.connection.username">
			root
		</property>
		<property name="hibernate.connection.password">
			root123
		</property>

		List of XML mapping files
		<mapping resource="Employee.hbm.xml" />

		echo all executed sql through stdout
		<property name="show_sql">true</property>

		hibernate.hbm2ddl.auto Automatically validates or exports schema DDL 
			to the database when the SessionFactory is created. With create-drop, the 
			database schema will be dropped when the SessionFactory is closed explicitly. 
			e.g. validate | update | create | create-drop So the list of possible options 
			are, validate: validate the schema, makes no changes to the database. update: 
			update the schema. create: creates the schema, destroying previous data. 
			create-drop: drop the schema at the end of the session.
		<property name="hibernate.hbm2ddl.auto">create</property>

	</session-factory>
</hibernate-configuration> -->